 body{margin:0;padding:0}
            .container{max-width:1280px;margin:0 auto;padding:0 15px}
            .top-bar{background:#062e06;color:#fff;padding:4px 0;font-size:14px;display:flex;justify-content:center;align-items:center;white-space:nowrap;overflow:hidden}
            .top-bar span{color:#ffe28a;font-weight:500}
            .left,.right{padding:0 6px}
            .main-header{width:100%;text-align:center;font-family:Arial,sans-serif}
            .mid-header{background:linear-gradient(to bottom,#f8b77b,#8ccf87);padding:10px 0}
            .top-section{position:relative;padding:10px 0;display:flex;justify-content:space-between;align-items:center}
            .side-logo{width:70px;height:auto}
            .center-content{flex:1}
            .center-small-logo{width:120px}
            .center-small-logo-1{width:120px}
            .title{font-size:22px;font-weight:700;margin:5px 0;text-align: center;}
            .title-1{font-size:22px;font-weight:700;margin:5px 0;text-align: center;}
            .tagline{font-size:17px;margin-top:-4px;letter-spacing:.4px;text-transform: uppercase;}
            .nav-bar{background:#fff}
            .nav-bar ul{list-style:none;margin:0;padding:0;display:flex;justify-content:center;align-items: center;gap: 14px;}
            .nav-bar li{font-size:15px;cursor:pointer;margin: 0;}
            .home.active{background:#004000;color:#fff}
            .tabs{display:flex;padding:0;margin:0;list-style:none;background:#fff}
            .tab a{display:block;padding:10px 16px;font-size:15px;text-decoration:none;color:#000;border-bottom:none;transition:.2s}
            li.tab.active{display:block;padding:10px 16px;font-size:15px;text-decoration:none;color:#000;border-bottom:none;transition:.2s}
            .tab a:hover{background:#e7ffe7}
            li.tab.active:hover{background:#e7ffe7}
            .tab.active a{background:#004000;color:#fff;border-color:#004000}
            .center-content img.center-small-logo{position:absolute;left:16%}
            .center-content img.center-small-logo-1{position:absolute;right:16%}
            .marquee-line-text{background:#004000}
            .marquee-line-text marquee{padding:5px 0 0}
            .about-image {max-width: 40%;margin: 20px auto;height: 100%;}
            .about-image-1 {max-width: 95px;margin: 5px auto;height: 115px;}
            .about-image img {width: 100%;}
            .about-image-1 img {width: 130px;position: relative;right: 18px;}
            .main-hero-flex {display: flex;max-height: 1px;}
            .hero-about {width: 100% !important;}
            .hero-about-1 {width: 31% !important;}
            .hero-sec-image {width: 50%;}
            .hero-sec-image img {width: 100%;}
            .search-box {width: 280px;display: flex;align-items: center;background: #fff;border: 1px solid #ccc;overflow: hidden;margin: 7px 14px;}
            .search-box input{flex:1;padding:10px 12px;font-size:15px;border:none;outline:0}
            .search-box button {background: #00400000;cursor: pointer;font-size: 15px;border: 0;border-left: 1px solid #ccc;padding: 11px;}
            .latest-news-details {width: 35%;}
            /* News Marquee Styles */
            .latest-updates{background:#f19000!important;color:#fff;padding:10px;margin:0;font-size:16px}
            .text-white{color:#fff}
            .p-10{padding:10px}
            .m-0{margin:0}
            p.tagline span {font-size: 19px;}
            .font-16{font-size:16px}
            .main-cll-news-scroll{background:#004000;padding:10px;height: 628px;}
            .news-scroll{height: 630px;;overflow:hidden}
            .newslabel{color:#fff;font-weight:700}
            .preview_pdf{color:#fff;text-decoration:none;cursor:pointer}
            .preview_pdf:hover{text-decoration:underline}
            .main-cll-news-scroll ul{list-style:none;margin:0;padding:0}
            .main-cll-news-scroll ul li{margin-bottom:10px}
            .dis-message p {line-height: 29px;font-size: 24px;font-family: sans-serif;padding: 0 25px;text-align: center;}
            .dis-message-1 p {line-height: 25px;font-size: 16px;font-family: sans-serif;padding: 0 25px;text-align: center;}
            span.cosa-msg {color: #f19000;font-size: 39px;}
            span.cosa-msg-1 {color: #f19000;font-size: 24px;}
            .hero-sec-image img {height: 536px;object-fit: cover;}
            .hero-slider img {width: 100%;height: 686px;}
            .hero-slider {width: 35%;}
            ul.slick-dots {bottom: 0 !important;top: 0;display: none !important;}
            .pdf-toolbar { display:flex; gap:8px; align-items:center; margin-bottom:10px; }
            .pdf-container { width: 100%; max-width: 1100px; margin: 0 auto; background:#f6f6f6; padding:12px; border-radius:8px; }
            canvas {width: 100%;height: 264px;display: block;object-fit: cover;}
            button { padding:6px 10px; border-radius:6px; border:1px solid #ddd; background:#fff; cursor:pointer; }
            a#download { margin-left:auto; color:#007bff; text-decoration:none; }
            .main-pdf {padding: 0 25px;}
            li.login-btn-11 a {
            text-decoration: none;
            color: #000;
            font-size: 15px;
            background: #f19000;
            padding: 10px 12px;
            border-radius: 10px;
            }

            /* Normal tabs */
.tabs .tab a {
    color: black;
    text-decoration: none;
    padding: 6px 12px;
    display: block;
}

/* ACTIVE TAB = SAME ORANGE AS VSK LOGIN ( #f39c12 ) */
.tabs .tab.active a {
    background: #f39c12;
    color: white !important;
    border-radius: 5px;
    font-weight: bold;
}

/* VSK LOGIN SAME AS OTHER MENUS */
.vsk-login a {
    background: transparent !important;
    color: black !important;
    padding: 6px 12px;
    border-radius: 5px;
}
.vsk-login a:hover {
    background: #e7ffe7;
}


/* outreach page css */

.my-gallery {display: grid;grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));gap: 1.5rem;padding: 20px;}
.gallery-item {overflow: hidden;border-radius: 12px;}
.gallery-item img {width: 100%;height: 100%;object-fit: cover;transition: 0.3s ease;cursor: pointer;}
.gallery-item img:hover {transform: scale(1.08);}


/* from page css */


.pdf-toolbar { display:flex; gap:8px; align-items:center; margin:30px; }
.pdf-container { width: 100%; max-width: 1100px; margin: 0 auto; background:#f6f6f6; padding:12px; border-radius:8px; }
canvas {width: 100%;height: fit-content;display: block;object-fit: cover;}
button { padding:6px 10px; border-radius:6px; border:1px solid #ddd; background:#fff; cursor:pointer; }
a#download { margin-left:auto; color:#007bff; text-decoration:none; }
.main-pdf {padding: 0 25px;}
.back-btn {text-align: center;margin-top: 25px;}
.back-btn a {color: #333;text-decoration: none;font-size: 23px;background: #f19000;padding: 10px 30px;border-radius: 10px;}